body{
    display: grid;
    height: 100vh;
    grid-template: auto auto 1fr auto / 1fr ;
}

header{
    background-color: aqua;
    padding: 1rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: aliceblue;
    padding: 1rem;
}
main{
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr;
    padding: 5rem;
    background-color: antiquewhite;
}

section{
    display: flex;
    justify-content: flex-start;
    background-color: aqua;
    padding: 5rem;
}

aside{
    display: flex;
    justify-content: flex-start;
    background-color: pink;
    padding: 5rem;
}

footer{
    background-color: blue;
    padding: 10px;
    display: flex;
    justify-content: center;
}