*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
h1 {
    font-weight: 100;
    font-family: "Playfair Display", serif;
    text-align: center;
}
header span{
    display: block;
    text-align: center;
    background-color: palevioletred;
    color: #ffff;
    font-weight: 1000;
    padding: 20px;
}
header nav{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    background-color: gray;
    padding: 16px;
}
header nav a:hover{
    border: 1px solid #ffff;
    color: yellowgreen;
    text-decoration: none;
}
main{
    display: grid;
    padding: 16px;
    margin: 10px;
    gap: 12px;
}

footer{
    background-color: palevioletred;
    color: white;
    text-align: center;
    padding: 16px;
}