*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arial', sans-serif;
    background-color: rgb(255, 255, 255);
}
header{
    background-color: navy;
    color: white;
    padding: 20px;
    text-align: center;
}
p{
    margin: 6px 0;
}
.container img{
    display: block;
    width: 100%;
}
.hero{
    margin: 20px;
    padding: 1rem;
    background-color: seashell;
    border-radius: 7px;  
}
.big-view{
    display: none;
}
footer{
    background-color: rgb(9, 156, 9);
    color: white;
    padding: 10px;
    text-align: center;
}