@media screen and (min-width: 800px){
    .container{
        position: relative;
        height: 500px;
        background-image: url('../images/naha.webp');
        background-size: cover;
        background-position: center;
    }
    .container img{
        display: none;
    }
    .hero{
        position: absolute;
        width: 300px;
        background-color: seashell;
    }
    .data{
        top: 40px;
        left: 40px;
    }
    .weather{
        bottom: 40px;
        right: 40px;
    }
        .weather h2::after {
            content: "";
            display: block;
    
            width: 60px;
            height: 60px;
    
            margin-top: 10px;
    
            background-image: url("../images/weather-icon.svg");
            background-size: contain;
            background-repeat: no-repeat;
        }
}