*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hamburger{
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffff;
}
#menu{
    display: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 128, 0);
    color: #ffff;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main{
    display: grid;
    grid-column: 1fr;
    justify-content: center;
}
main h1{
    text-align: center;
}
figure{
    text-align: center;
}
footer {
    display: block;
    background-color: green;
    color: #ffff;
    text-align: center;
    padding: 1rem;
}