@media screen and (min-width: 1024px) {
    header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: green;
    color: #ffff;
    align-items: center;
    font-family: monospace;
    padding: 10px 15px;
    }
    header h1{
        margin: 0;
        font-size: 1.5rem;
    }
    #hamburger {
        display: none;
    }

    #menu ul{
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    }
    #menu li a{
        color: #ffff;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
    }
    #menu li a:hover{
        background-color: #ddd;
    }
    main h1{
        text-align: center;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr  1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 5px;
    }
    
}