body{
    font-family: 'Roboto';
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header,main,footer{
    max-width: 700px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: blue;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
section{
    padding: 1rem;
    background-color: white;
}